body{
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	font-weight: 300;
	color: #62686f;
	background-attachment: fixed;
	background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
	background-size: cover;
	background-position: center;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;

	color: #333;
}

.container{
	margin: 90px auto;

	width: 960px;
}

.main-header{
	margin-top: 50px;
	margin-bottom: 0;
	padding: 1px;

	text-align: center;

	background-image: url(../img/banner.jpg);	
}

.main-header > h1{
	margin-bottom: 20px;

	font-weight: 300;
	font-size: 50px;
	font-family: 'Open Sans', 'helvetica', arial, sans-serif;

	color: white;
	
	text-shadow: 0 1px rgba(0,0,0,0.3);	
}

.main-header__avatar{
	display: block;
	margin: -70px auto 10px;

	border: 3px solid white;
	border-radius: 50%; /*999px;*/

	box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);	
}

nav{
	text-align: center;
	background-color: #333;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li{
	display: inline-block;
	margin: 15px 10px;
}

nav ul li a {
	color: #fff;
	font-size: 0.9rem;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

.info-section {
	background-color: #fff;
	padding: 1px;
	padding: 30px 60px;
}

.info-section header h2 {
/*	margin-bottom: 30px;*/
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
}

.info-section header h2:after{
	content:"";
	width: 80px;
	display: block;
	border-bottom: 3px solid black;
	margin: auto;
}

.info-section__description {
	margin-bottom: 60px;
	font-style: italic;
	text-align: center;
}

.whatido__skill-list{
	list-style: none;
	/*overflow: hidden;*/
	text-align: center;
}

.whatido__skill-list:after{
	content:"";
	display:table;
	clear:both;
}

.whatido__skill--code {
	float: left;
	width: 33%;
	padding-top: 90px;
	background-image: url(../img/skill-code.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.whatido__skill--design {
	float: left;
	width: 33%;
	padding-top: 90px;
	background-image: url(../img/skill-design.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.whatido__skill--product {
	float: left;
	width: 33%;
	padding-top: 90px;
	background-image: url(../img/skill-product.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.education-experience__list{
	list-style: none;
}

.education-experience__list li{
	margin-top: 30px;
	overflow: hidden;
}

.education-experience__list img{
	float: left;
	width: 200px;
}

.education-experience__list div{
	overflow: hidden;
	padding-left: 20px;
}

.photos__list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.photos__list li{
	float: left;
	width: 25%;
	padding: 10px;
}

.photos__list li img{
	width: 100%;
}

.get-in-touch__list{
	list-style: none;
	text-align: center;
}

.get-in-touch li{
	float: left;
	width: 25%;
}

.contact form{
	margin: auto;
	width: 40%;
	position: relative;
	text-align: center;
}

.contact input, .contact textarea{
	border 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	padding 8px;
	margin: 10px auto;
}

.contact label{
	position: absolute;
	display: block;
	width: 100%;
	left: -110%;
	text-align: right;
	padding-top: 10px;
}

.contact button {
	width: 100%;
	border: none;
	border-radius: 9999px;

	background: #ffd524;

	cursor: pointer
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	color: #fff;
	box-shadow: 0 3px 0 #daae1d;
}