body{
	background-attachment: fixed;
	background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
	background-size: cover;
	background-position: center;
}

.container{
	width: 960px;
	margin: 0 auto;
}