body{
	background-attachment: fixed;
	background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
	background-size: cover;
	background-position: center;
}

.container{
	margin: 90px auto;

	width: 960px;
}

.main-header{
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 1px;

	text-align: center;

	background-image: url(../img/banner.jpg);	
}

.main-header > h1{
	margin-bottom: 20px;

	font-weight: 300;
	font-size: 50px;
	font-family: 'Open Sans', 'helvetica', arial, sans-serif;

	color: white;
	
	text-shadow: 0 1px rgba(0,0,0,0.3);	
}

.main-header__avatar{
	display: block;
	margin: -70px auto 10px;

	border: 3px solid white;
	border-radius: 50%; /*999px;*/

	box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);	
}